.card {
    /* background: url("card-bg.png"); */
    
    text-align: center;
    width: 40%;
    padding: 20px;
    /* height: -moz-available;          WebKit-based browsers will ignore this. */
    /* height: -webkit-fill-available;  Mozilla-based browsers will ignore this. */
    /* height: fill-available; */
    /* margin: 0 auto; */
    /* transform: translateX(0%); */
    z-index: 2;
    /* display: inline-block; */
    margin: 0 auto;
    margin-left: 0px;
    background: #ffffff;
    -webkit-box-shadow: 6px 6px 9px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 9px 3px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 9px 3px rgba(0,0,0,0.75);

}
.card-title {
    font-size: 32pt;

}

.afzender {
    margin-top: 30px;
    transform: translateX(-20%);
    font-weight: bold;
    
}